[build]
  publish = "dist"  # или "build", в зависимости от твоего проекта
  command = "npm run build"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true